
.hero {
  background-image: url('https://www.blendb2b.com/hubfs/BLD%20techncial%20blog.jpeg');
  background-size: cover;
  min-height: 450px;
  background-position: cover;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.content {
  position: relative;
  padding: 50px 80px;
  max-width: 400px;
  text-align: center;
  color: #fff;
  z-index: 1;
  flex-direction: column;
  max-width: 600px;
}

.content h2 {
  font-size: 50px;
  color: whitesmoke;
  line-height: 48px;
  font-style: italic;
  font-weight: 800;
  max-width: 1000px;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
  z-index: 4;
}

.para {
  color: white;
  padding: 10px 10px;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  max-width: 900px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 2;
}

.hero button {
  background-color: #FB9900;
  color:black;
  padding: 10px 20px;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  margin-left: 25px;
}

.hero button:hover {
  background-color: #FFCC00;
}

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .hero {
    min-height: auto;
    background-size: cover;
    max-width: 100%;
  }

  .content {
    padding: 20px;
    max-width: 100%;
  }

  .content h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .para {
    font-size: 16px;
    line-height: 20px;
  }

  .hero button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
@media screen and (max-width: 468px) {
  .hero {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
  }
}
