
  .article-item {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 30px); 
  }
  
  .article-info {
    flex-grow: 1;
    flex-direction:column;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
  }
  
  .article-date {
    font-size: 12px;
    color: #888;
  }
  
  .article-time {
    font-size: 12px;
    color: #888;
  }
  
  .article-writer {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .article-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px;
  }
  
  .read-more {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
  }
  
  .read-more:hover {
    background-color: #0056b3;
  }
  
  .arrow-icon {
    font-size: 24px;
    margin-top: 8px;
    align-self: flex-end;
  }
  @media (max-width: 950px) {
   
    .article-item {
      width: calc(50% - 30px); 
    }
  }
  @media (max-width: 576px) {
    .article-item {
      width: 100%
    }
  }
  