/* Add these styles to your CSS file */
.Home {
    background-color:whitesmoke; 
    color: #000000; 
    padding: 20px;
    height: 100%;
    
  }
  
  .Home p {
    font-size: 18px; 
    margin-top: 2rem;
  }
  