
.AboutSection {
    background-color: #f7f7f7;
    padding:10px 10px;
    text-align: center;
    flex-grow: 1;
    height: 100%;
  }
  
  .AboutContent {
    max-width:100%;
    margin: 0;
    padding: 0;
    text-align: left;
    justify-content: flex-start;
    
  }
  
  .AboutContent h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .AboutContent p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .AboutContent ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .AboutContent ul li {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .AboutContent a {
    color: #007bff;
    text-decoration: none;
  }
  
  .AboutContent a:hover {
    text-decoration: underline;
  }
  
@media (max-width: 768px) {
  .AboutContent {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .AboutContent {
    padding: 5px;
  }
}

  