
.Footer {
    background-color: #000000; 
    color: #FFFFFF; 
    text-align: center; 
    padding: 20px; 
    font-size: 14px; 
  }
  
  .Footer p {
    margin: 0; 
  }
  

  .Footer::after {
    content: '\00a9'; 
    margin-left: 5px; 
  }
  