.layout{
  background-color: black;
  padding-top: 10px;
  height: 100vh;
 
}
.navigation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  overflow-x: hidden;
  overflow-y: hidden;
} 

